*{
	box-sizing: border-box;
}
::selection{
	background: $hovercolor;
	color: #fff;
}
::-moz-selection{
	background: $hovercolor;
	color: #fff;
}

// header
.wrap{
	width: 100%;
	background-color: #fff;
}
.contain{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}
.menu_block{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	height: 2.8rem;
	transition: all 0.5s;
	z-index: 50;
	@include flexcenter
	.menu_frame{
		max-width: 1024px;
		width:95%;
		margin: 0 auto;
		@include flexbetween
		.menu{		
			li{
				float: left;
				padding-left: 2.5rem;
				a{
					display: block;
					text-decoration: none;
					color: #fff;
				}
				a:hover{
					color: $hovercolor !important;
				}
			}
			@include padbelow{
				max-height: 0px;
				overflow: hidden;
				transition: max-height 2s;
				position: absolute;
				z-index: 100;
				top: calc(2.8rem + 0px);
				left: 0;
				right: 0;
				background-color: #fff;
				box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
				li{
					float: none;
					border-bottom: 1px dashed #CCC;
					padding: 1rem;
					letter-spacing:10px;
					@include flexcenter
					a{
						color: #000 !important;
					}
				}
			}
		}
	}

	button{
		display: none;
		@include padbelow{
			display: block;
			width: 2rem;
			height: 2rem;
			margin-right: .5em; 
			border:0px; 
			border-radius: .8rem;
			float: right;
			z-index: 100;
			background-color: #fff;
		}
	}
}
.menu_change .menu_block{
	position: fixed;
	background-color: #fff;
	a{
		color: #000;
	}
}
.menu_show{
	max-height: 500px !important;
}

.header{
	width: 100%;
	height: 420px;
	background: url(https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center right;
	background-size: cover;
	@include flexcenter
	.header_text{
		max-width: 500px;
		width: 85%;
		background-color: rgba(0,0,0,0.35);
		color: #fff;
		text-align: center;
		line-height: 2;
		padding:1.5rem 0rem;
		h3{
			font-size: 2.2rem;
			margin-bottom: 0.5rem;
			@include iphone6plus{
				font-size: 1.5rem;
				font-weight: bold;
			}
		}
	}
}



// footer start
footer{
	background-color: $lightgray;
	color: $normalcolor;
}
.footer_frame{
	padding:4rem 1rem 4rem 1rem; 
	@include flexcenter
	justify-content: flex-start;
	align-items: flex-start;
	@include padbelow{
		flex-direction: column;
	}
	.footer_box{
		width: 30%;
		padding-right: 1rem;
		line-height: 1.2;
		@include padbelow{
			width: 85%;
			margin: 0 auto;
			padding-right: 0;
		}
		p{
			font-size: 1.3rem;
		}
		span,ul{
			display:inline-block;
			margin-top: 1rem; 
			@include padbelow{
				margin: 1rem 0 2.5rem 0;
			}
		}
	}
	.social{
		width: 40%;
		text-align: right;
		@include padbelow{
			width: 85%;
			margin: 0 auto;
		}
		ul{
			@include flexcenter
			justify-content: flex-end;
			li{
				margin-left: .8rem;
				margin-top: .8rem;
				width: 50px;
				height: 35px;
				border-radius: 15px;
				background-color: #fff;
				@include flexcenter
			}
			li:hover{
				background-color: $hovercolor;
				color: #fff;
			}
		}
	}
}

// TOP
.top{
	position: fixed;
	right: 1rem;
	bottom: 2rem;
	width: 3rem;
	height: 3rem;
	border-radius:1.5rem; 
	background-color: $hovercolor;
	opacity: 0.75;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	@include flexcenter
}