.order_frame{
	padding: 3rem 1rem;
	@include flexcenter
	align-items: flex-start;
	@include padbelow{
		flex-direction: column;
	}
}
.list{
	color: $normalcolor;
	width: 250px;
	margin-right: 2rem;
	@include padbelow{
		margin-right: 0rem;
		width: 100%;
	}
	p{
		font-size: 1.2rem;
		i{
			font-size: 1.5rem;
		}
	}
	ul{
		margin: 1.5rem 0 3rem 0;
		li{
			width: 100%;
			padding: .5rem;
			border-bottom:1px solid $normalcolor;
		}
		li:hover{
			background-color: $normalcolor;
			color: #fff;
		}
	}
}

.right_row{
	color: $normalcolor;
	flex-grow:1;
	@include padbelow{
		flex-grow: 0;
		width: 100%
	}
}

.toolbar{
	@include flexbetween
	@include padbelow{
		flex-direction: column;
	}
	.search{
		max-width: 420px;
		width: 100%;
		height: 32px;
		border:2px solid $normalcolor;
		@include flexcenter
		@include padbelow{
			max-width: 100%;
		}
		input{
			border: 0px;
			width: 100%;
			height: 100%;
		}
		button{
			border: 0px;
			width: 36px;
			height: 100%;
			background-color: $normalcolor;
			color: #fff;
			@include flexcenter
		}
	}
	.cart{
		whit-space: nowrap;
		@include padbelow{
			align-self: flex-end;
			margin:1rem .5rem 0 0;
		}
		span{
			padding-right: 1rem;
			margin-right: 1rem;
			border-right: 1px solid $normalcolor;
		}
		i{
			font-size: 1.8rem;
			position: relative;
			top: .2rem;
		}
		i:after{
			content:"20";
			font-size: .6rem;
			color: #fff;
			padding: 2px;
			background-color: tomato;
			border-radius: 5px;
			position: absolute;
			top: -.5rem;
			right: -.5rem;
		}
	}
}

.product{
	@include flexbetween
	flex-wrap: wrap;
	li{
		position: relative;
		overflow: hidden;
		max-width: 230px;
		width: 100%;
		margin-top: 2rem;
		box-shadow: 3px 3px 4px rgba(0,0,0,0.15);
		text-align: center;
		@include padbelow{
			max-width: 100%;
		}
		img{
			width: 100%;
			height: auto;
		}
		h4{
			font-size: 1.3rem;
			margin-top: 1rem;
			margin-bottom: .5rem;
		}
		p{
			font-size: .8rem;
		}
		.product_deco{
			width: 95px;
			height: 1px;
			background-color: $normalcolor;
			margin:.5rem auto;
		}
		span{
			font-size: 1.3rem;
			margin: 1rem 0;
			display: inline-block;
		}
		button{
			display: block;
			margin: 0 auto .8rem auto;
			width: 90%;
			border:2px solid $hovercolor;
			border-radius: 3px;
			color: $hovercolor;
			background-color: #fff;
		}
		button:hover{
			background-color: $hovercolor;
			color: #fff;
		}
	}
	li:hover{
		background-color: #fafafa;
	}
	li:before{
		position: absolute;
		top: .8rem;
		left: .8rem;
		content: "\f004";
		font-family: "Font Awesome 5 Free";
		font-weight: 500;
		font-size: 1.3rem;
		color: rgba(255,255,255,0.8);
	}
	.product_tag{
		position: absolute;
		top: 1rem;
		right: -1.8rem;
		width: 120px;
		height: 28px;
		line-height: 28px;
		font-size: 14px;
		color: #fff;
		background-color: #00CC99;
		transform: rotate(-315deg);
	}
}