@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #F56C23;
  color: #fff;
}

::selection {
  background: #F56C23;
  color: #fff;
}

::-moz-selection {
  background: #F56C23;
  color: #fff;
}

.wrap {
  width: 100%;
  background-color: #fff;
}

.contain {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.menu_block {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 2.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_block .menu_frame {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_block .menu_frame .menu li {
  float: left;
  padding-left: 2.5rem;
}

.menu_block .menu_frame .menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.menu_block .menu_frame .menu li a:hover {
  color: #F56C23 !important;
}

@media (max-width: 767px) {
  .menu_block .menu_frame .menu {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 2s;
    transition: max-height 2s;
    position: absolute;
    z-index: 100;
    top: calc(2.8rem + 0px);
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  }
  .menu_block .menu_frame .menu li {
    float: none;
    border-bottom: 1px dashed #CCC;
    padding: 1rem;
    letter-spacing: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_block .menu_frame .menu li a {
    color: #000 !important;
  }
}

.menu_block button {
  display: none;
}

@media (max-width: 767px) {
  .menu_block button {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: .5em;
    border: 0px;
    border-radius: .8rem;
    float: right;
    z-index: 100;
    background-color: #fff;
  }
}

.menu_change .menu_block {
  position: fixed;
  background-color: #fff;
}

.menu_change .menu_block a {
  color: #000;
}

.menu_show {
  max-height: 500px !important;
}

.header {
  width: 100%;
  height: 420px;
  background: url(https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center right;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_text {
  max-width: 500px;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  line-height: 2;
  padding: 1.5rem 0rem;
}

.header .header_text h3 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 414px) {
  .header .header_text h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

footer {
  background-color: #efe9e7;
  color: #3D1101;
}

.footer_frame {
  padding: 4rem 1rem 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .footer_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer_frame .footer_box {
  width: 30%;
  padding-right: 1rem;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .footer_frame .footer_box {
    width: 85%;
    margin: 0 auto;
    padding-right: 0;
  }
}

.footer_frame .footer_box p {
  font-size: 1.3rem;
}

.footer_frame .footer_box span, .footer_frame .footer_box ul {
  display: inline-block;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .footer_frame .footer_box span, .footer_frame .footer_box ul {
    margin: 1rem 0 2.5rem 0;
  }
}

.footer_frame .social {
  width: 40%;
  text-align: right;
}

@media (max-width: 767px) {
  .footer_frame .social {
    width: 85%;
    margin: 0 auto;
  }
}

.footer_frame .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_frame .social ul li {
  margin-left: .8rem;
  margin-top: .8rem;
  width: 50px;
  height: 35px;
  border-radius: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_frame .social ul li:hover {
  background-color: #F56C23;
  color: #fff;
}

.top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #F56C23;
  opacity: 0.75;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_line {
  max-width: 500px;
  width: 85%;
  height: 1px;
  background-color: #979797;
  margin: 4rem auto 3.5rem auto;
  position: relative;
  text-align: center;
}

.text_line::after {
  content: "客人總是在詢問";
  position: absolute;
  top: -2rem;
  padding: .5rem 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  color: #3D1101;
  font-size: 1.3rem;
  white-space: nowrap;
}

.text_line::before {
  content: "這麼好吃的秘訣是什麼";
  position: absolute;
  top: 0rem;
  padding: .5rem 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  color: #3D1101;
  font-size: 1.3rem;
  white-space: nowrap;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.special li {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  color: #3D1101;
  margin-bottom: 1.5rem;
}

.special li p {
  padding-top: 1rem;
  margin-bottom: -1rem;
  font-size: 1.1rem;
}

.special li span {
  padding: 2rem;
}

@media (max-width: 767px) {
  .special {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .special li {
    width: 85%;
  }
  .special li span {
    padding: 1.5rem 0 0 0;
  }
}

.chef_block {
  background-color: #3D1101;
  width: 100%;
}

.chef_block img {
  float: left;
  width: 50%;
}

@media (max-width: 767px) {
  .chef_block img {
    width: 100%;
  }
}

.chef_block .chef {
  float: left;
  width: 50%;
  color: #fff;
  padding: 4rem;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .chef_block .chef {
    width: 100%;
  }
}

.chef_block .chef p {
  font-size: 1.2rem;
}

.customer_block {
  background-color: #efe9e7;
  color: #3D1101;
}

.customer_block h4 {
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem 0 1.5rem 0;
}

.customer_block .customer {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .customer_block .customer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.customer_block .customer li {
  margin: 1rem auto;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.customer_block .customer li .customer_text {
  line-height: 1.5;
  padding-left: .5rem;
}

.customer_block .customer li .customer_text p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.customer_block .customer li .customer_text blockquote {
  text-align: right;
  font-style: italic;
}

.map {
  color: #3D1101;
}

.map p {
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem 0 2rem 0;
}

.map span {
  display: block;
  line-height: 1.2;
}

.map .map_frame {
  padding: 0 1rem 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .map .map_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.map .map_frame img {
  width: 48%;
  height: auto;
}

@media (max-width: 767px) {
  .map .map_frame img {
    width: 85%;
  }
}

.map .map_frame .reserve {
  width: 52%;
  padding-left: 1rem;
}

@media (max-width: 767px) {
  .map .map_frame .reserve {
    width: 85%;
    padding-left: 0rem;
  }
}

.map .map_frame .reserve ul li {
  padding: .5rem 0;
}

.map .map_frame .reserve ul li .reserve_input {
  width: 100%;
  margin: .5rem 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

.map .map_frame .reserve div {
  text-align: right;
}

.map .map_frame .reserve div .reserve_submit {
  margin: .5rem 0 0 .5rem;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: 1rem;
}

.map .map_frame .reserve div .reserve_submit:hover {
  background-color: #F56C23;
}

.order_frame {
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .order_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list {
  color: #3D1101;
  width: 250px;
  margin-right: 2rem;
}

@media (max-width: 767px) {
  .list {
    margin-right: 0rem;
    width: 100%;
  }
}

.list p {
  font-size: 1.2rem;
}

.list p i {
  font-size: 1.5rem;
}

.list ul {
  margin: 1.5rem 0 3rem 0;
}

.list ul li {
  width: 100%;
  padding: .5rem;
  border-bottom: 1px solid #3D1101;
}

.list ul li:hover {
  background-color: #3D1101;
  color: #fff;
}

.right_row {
  color: #3D1101;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767px) {
  .right_row {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .toolbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.toolbar .search {
  max-width: 420px;
  width: 100%;
  height: 32px;
  border: 2px solid #3D1101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .toolbar .search {
    max-width: 100%;
  }
}

.toolbar .search input {
  border: 0px;
  width: 100%;
  height: 100%;
}

.toolbar .search button {
  border: 0px;
  width: 36px;
  height: 100%;
  background-color: #3D1101;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .cart {
  whit-space: nowrap;
}

@media (max-width: 767px) {
  .toolbar .cart {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 1rem .5rem 0 0;
  }
}

.toolbar .cart span {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #3D1101;
}

.toolbar .cart i {
  font-size: 1.8rem;
  position: relative;
  top: .2rem;
}

.toolbar .cart i:after {
  content: "20";
  font-size: .6rem;
  color: #fff;
  padding: 2px;
  background-color: tomato;
  border-radius: 5px;
  position: absolute;
  top: -.5rem;
  right: -.5rem;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product li {
  position: relative;
  overflow: hidden;
  max-width: 230px;
  width: 100%;
  margin-top: 2rem;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}

@media (max-width: 767px) {
  .product li {
    max-width: 100%;
  }
}

.product li img {
  width: 100%;
  height: auto;
}

.product li h4 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.product li p {
  font-size: .8rem;
}

.product li .product_deco {
  width: 95px;
  height: 1px;
  background-color: #3D1101;
  margin: .5rem auto;
}

.product li span {
  font-size: 1.3rem;
  margin: 1rem 0;
  display: inline-block;
}

.product li button {
  display: block;
  margin: 0 auto .8rem auto;
  width: 90%;
  border: 2px solid #F56C23;
  border-radius: 3px;
  color: #F56C23;
  background-color: #fff;
}

.product li button:hover {
  background-color: #F56C23;
  color: #fff;
}

.product li:hover {
  background-color: #fafafa;
}

.product li:before {
  position: absolute;
  top: .8rem;
  left: .8rem;
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.8);
}

.product .product_tag {
  position: absolute;
  top: 1rem;
  right: -1.8rem;
  width: 120px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  background-color: #00CC99;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.outblock {
  color: #3D1101;
  padding: 3rem 1rem 4rem 1rem;
}

.outblock h4 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.outblock p {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.login {
  background-color: #efe9e7;
  width: 330px;
  margin: 0 auto;
  padding: 1rem;
  border-top: 3px solid #F56C23;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .login {
    width: 100%;
  }
}

.login ul li {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  position: relative;
}

.login ul li label, .login ul li input, .login ul li span {
  display: block;
}

.login ul li input {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #CCC;
  text-indent: 1.7rem;
}

.login ul li .fa-envelope {
  position: absolute;
  opacity: 0.5;
  left: .5rem;
  top: 2em;
}

.login ul li .fa-unlock-alt {
  position: absolute;
  opacity: 0.5;
  left: .5rem;
  top: 2em;
}

.login ul li span {
  color: #F56C23;
  font-size: .5rem;
}

.login div {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login div button {
  width: 47%;
  height: 32px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
}

.login div button:hover {
  background-color: #F56C23;
}

.register {
  background-color: #efe9e7;
  width: 620px;
  margin: 0 auto;
  padding: 1rem;
  border-top: 3px solid #F56C23;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .register {
    width: 100%;
  }
}

.register .register_block {
  width: 100%;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .register .register_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.register .register_block label, .register .register_block input, .register .register_block span {
  display: block;
}

.register .register_block .register_text {
  width: 48%;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .register .register_block .register_text {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.register .register_block .register_frame {
  width: 48%;
}

@media (max-width: 767px) {
  .register .register_block .register_frame {
    width: 100%;
  }
}

.register .register_block .register_frame ul li {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  position: relative;
}

.register .register_block .register_frame ul li input {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #CCC;
  text-indent: 1.7rem;
}

.register .register_block .register_frame ul li span {
  color: #F56C23;
  font-size: .5rem;
}

.register .register_block .register_frame ul li .fa-envelope {
  position: absolute;
  opacity: 0.5;
  left: .5rem;
  top: 2em;
}

.register .register_block .register_frame ul li .fa-unlock-alt:nth-of-type(1) {
  position: absolute;
  opacity: 0.5;
  left: .5rem;
  top: 2em;
}

.register .register_block .register_frame ul li .fa-unlock-alt:nth-of-type(2) {
  position: absolute;
  opacity: 0.5;
  left: .5rem;
  top: 4.5em;
}

.register .register_block .register_frame button {
  float: right;
  width: 47%;
  height: 32px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
}

.register .register_block .register_frame button:hover {
  background-color: #F56C23;
}

#register {
  display: none;
}
/*# sourceMappingURL=style.css.map */