@import 'reset';
@import 'grid';

@mixin flexcenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flexbetween{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

$normalcolor:#3D1101;
$hovercolor:#F56C23;
$lightgray:#efe9e7;

@import 'layout';
@import 'index';
@import 'order';
@import 'login';